**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
env/
venv/
ENV/
.git
.gitignore
.dockerignore
docker-compose.yml
README.md
*.md
.vscode
.idea
*.log
db.sqlite3
*.sqlite3
